<div class="h-screen w-screen flex items-center">
    <div class="container flex flex-col md:flex-row items-center justify-between px-5 text-white">
        <div class="w-full lg:w-1/2 mx-8">
            <div class="text-8xl text-second-900 font-semibold mb-8">404</div>
            <p class="mb-8 text-lg">Sorry Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, voluptate!</p>

            <a href="dashboard.html" class="mt-6 px-5 py-5 shadow-lg rounded-xl text-lg text-primary-900 font-bold bg-second-900">
                Back to Homepage
            </a>


        </div>
        <div class="w-full lg:flex justify-end lg:w-1/2 mx-5 my-12">

            <img src="assets/img/404.png" />
        </div>


    </div>


</div>