  <!------Footer  Start-->

  <footer class="bg-second pt-16 pb-12 border-t border-primary">
    <div class="container">
       <div class="xl:grid xl:grid-cols-3 xl:gap-8">
           <div class="space-y-8 xl:col-span-1">
               <img src="assets/img/logo.png" class="w-64 h-auto" alt="Youtube Efe Görkem Ümit" />
               <p class="text-gray-400 text-sm font-poppins" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, reprehenderit.</p>

               <div class="flex space-x-5">
                   <a href="#" class="text-gray-400 text-sm font-poppins hover:text-gray-100">
                       <i class="fa-brands fa-facebook"></i>

                   </a>

                   <a href="#" class="text-gray-400 text-sm font-poppins hover:text-gray-100">
                       <i class="fa-brands fa-twitter"></i>

                   </a>

                   <a href="#" class="text-gray-400 text-sm font-poppins hover:text-gray-100">
                       <i class="fa-brands fa-instagram"></i>

                   </a>

                   <a href="#" class="text-gray-400 text-sm font-poppins hover:text-gray-100">
                       <i class="fa-brands fa-github"></i>

                   </a>

                   <a href="#" class="text-gray-400 text-sm font-poppins hover:text-gray-100">
                       <i class="fa-brands fa-youtube"></i>

                   </a>


               </div>
           </div>
        <!-- ---- Footer link   ----- -->

        <div class="mt-2 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
           <div class="md:grid md:grid-cols-2 md:gap-8">
               <div>
                   <h3 class="text-xl text-white font-semibold uppercase tracking-wide mt-10 lg:mt-0"> Support</h3>
                   <div class="mt-4 space-y-4">
                       <a href="#" class="text-gray-300 hover:text-white font-semibold block">Document</a>
                       <a href="#" class="text-gray-300 hover:text-white font-semibold block">Pricing</a>
                       <a href="#" class="text-gray-300 hover:text-white font-semibold block">Api</a>
                       <a href="#" class="text-gray-300 hover:text-white font-semibold block">Guides</a>
                   

                   </div>


               </div>

               <div>
                   <h3 class="text-xl text-white font-semibold uppercase tracking-wide mt-10 lg:mt-0"> Community</h3>
                   <div class="mt-4 space-y-4">
                       <a href="#" class="text-gray-300 hover:text-white font-semibold block">GitHub</a>
                       <a href="#" class="text-gray-300 hover:text-white font-semibold block">Discord</a>
                       <a href="#" class="text-gray-300 hover:text-white font-semibold block">Present</a>
                       <a href="#" class="text-gray-300 hover:text-white font-semibold block">Plugins</a>
                   

                   </div>


               </div>


           </div>

           <div class="md:grid md:grid-cols-2 md:gap-8">
               <div>
                   <h3 class="text-xl text-white font-semibold uppercase tracking-wide mt-10 lg:mt-0"> Project</h3>
                   <div class="mt-4 space-y-4">
                       <a href="#" class="text-gray-300 hover:text-white font-semibold block">Download</a>
                       <a href="#" class="text-gray-300 hover:text-white font-semibold block">Changelog</a>
                       <a href="#" class="text-gray-300 hover:text-white font-semibold block">All Versions</a>
                       <a href="#" class="text-gray-300 hover:text-white font-semibold block">Pricing</a>
                   

                   </div>


               </div>

               <div>
                   <h3 class="text-xl text-white font-semibold uppercase tracking-wide mt-10 lg:mt-0">  Started</h3>
                   <div class="mt-4 space-y-4">
                       <a href="#" class="text-gray-300 hover:text-white font-semibold block">Editor Setup</a>
                       <a href="#" class="text-gray-300 hover:text-white font-semibold block">Browser Support</a>
                       <a href="#" class="text-gray-300 hover:text-white font-semibold block">Upgrade Guide</a>
                       <a href="#" class="text-gray-300 hover:text-white font-semibold block">Reusing Styles</a>
                   

                   </div>


               </div>


           </div>




        </div>
          <!-- ---- Footer link  end  ----- -->

          
            

       </div>
       
    </div>
  </footer>

    <!------Footer End-->

             <!------Copyright End-->

            <div class="bg-primary py-5 mb-16 lg:mb-0">
               <div class="container flex items-center justify-between">
                   <p class="text-white font-semibold">© Youtube Efe Görkem Ümit</p>

                   <div>
                       <img src="assets/img/pay.png" class="w-96" />
                   </div>



               </div>
            </div>



             <!------Copyright End-->