 <!-------------NAV MENU START-->
 <nav class="bg-primary-900 border-b border-primary-600 fixed z-30 w-full">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">

        <div class="flex items-center justify-between">


            <!-------------logo search-->
        <div class="flex items-center justify-start">
          
            <a href="dashboard.html">
                <img src="assets/img/logo.png" class="h-12 " />
            </a>

            <form action="#" class="hidden lg:block lg:pl-32">
                <div class="relative">
                <div class="absolute inset-y-0 mt-2 ml-3 ">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <input type="text" class="bg-gray-50 border border-gray-300 text-primary-900 sm:text-sm rounded-xl
                focus:ring-second-900 focus:border-second-900 block xl:w-[36rem]  pl-10 p-2" placeholder="Search...">
            </div>

            </form>

        </div>

        <div class="flex items-center">

             <!-------------Open Source-->

         <div class="hidden lg:flex items-center">
            <span class="text-base font-normal text-white mr-5 ml-5">Open Source ❤</span>
         </div>

         <div class="flex items-center text-white mr-2 ml-2">
         
         </div>

            <!-------------User Bell Start-->
            <div  class="flex justify-end p-4">

           
                <div class="relative">
               <!-------------User Menu Inbox-->
               <button (click)="toggleBellMenu()" class="text-white" id="user-menu-bell-button"> 
                <i class="fa-solid fa-bell"></i>

               </button>

                 <!-------------User Menu Inbox END-->


                  <!-------------User Menu  Inbox-->
                  <div  [ngClass]="{'hidden': !isBellMenuOpen}" class="absolute right-0  mt-8 w-56 bg-white border border-primary-600 rounded-lg  hidden shadow-xl" id="user-menu-bell">
                   
                    <div class="p-4 border-b border-second-900">
                        <div class="flex items-center">
                                <div class="w-10 h-10 rounded-full mr-2">
                                    <img src="assets/img/users/1.png" class="rounded-full">
                                </div>
                                <div>
                                    <p class="text-sm font-semibold">Efe Görkem Ümit</p>
                                    <p class="text-xs text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, quas.</p>


                                </div>
                        

                        </div>
                        <div class="items-center ml-5">      <p class="text-sm font-semibold text-gray-500"> a few moments ago</p></div>
                  


                    </div>

                    <div class="p-4 border-b border-second-900">
                        <div class="flex items-center">
                                <div class="w-10 h-10 rounded-full mr-2">
                                    <img src="assets/img/users/2.png" class="rounded-full">
                                </div>
                                <div>
                                    <p class="text-sm font-semibold">John Wich</p>
                                    <p class="text-xs text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, quas.</p>


                                </div>
                        

                        </div>
                        <div class="items-center ml-5">      <p class="text-sm font-semibold text-gray-500"> a few moments ago</p></div>
                  


                    </div>
                    <div class="p-4 border-b border-second-900">
                        <div class="flex items-center">
                                <div class="w-10 h-10 rounded-full mr-2">
                                    <img src="assets/img/users/3.png" class="rounded-full">
                                </div>
                                <div>
                                    <p class="text-sm font-semibold">Kate Jack</p>
                                    <p class="text-xs text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, quas.</p>


                                </div>
                        

                        </div>
                        <div class="items-center ml-5">      <p class="text-sm font-semibold text-gray-500"> a few moments ago</p></div>
                  


                    </div>

                    <div class="p-4 text-center">
                        <a href="" class="text-primary-800 hover:underline"> All Message</a> 
                      </div>

                    

                  </div>

               </div>

                   <!-------------User Menu END-->

                 





           </div>

            <!-------------User Bell End-->

       
          <!-------------User Inbox Start-->
          <div  class="flex justify-end p-4">

           
            <div class="relative">
           <!-------------User Menu Inbox-->
           <button (click)="toggleInboxMenu()" class="text-white" id="user-menu-inbox-button"> 
            <i class="fa-solid fa-inbox"></i>

           </button>

             <!-------------User Menu Inbox END-->


              <!-------------User Menu  Inbox-->
              <div [ngClass]="{'hidden': !isInboxMenuOpen}" class="absolute right-0  mt-8 w-56 bg-white border border-primary-600 rounded-lg  hidden shadow-xl" id="user-menu-Inbox">
               
                <div class="p-4 border-b border-second-900">
                    <div class="flex items-center">
                            <div class="w-10 h-10 rounded-full mr-2">
                                <img src="assets/img/users/1.png" class="rounded-full">
                            </div>
                            <div>
                                <p class="text-sm font-semibold">Efe Görkem Ümit</p>
                                <p class="text-xs text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, quas.</p>


                            </div>
                    

                    </div>
                    <div class="items-center ml-5">      <p class="text-sm font-semibold text-gray-500"> a few moments ago</p></div>
              


                </div>

                <div class="p-4 border-b border-second-900">
                    <div class="flex items-center">
                            <div class="w-10 h-10 rounded-full mr-2">
                                <img src="assets/img/users/2.png" class="rounded-full">
                            </div>
                            <div>
                                <p class="text-sm font-semibold">John Wich</p>
                                <p class="text-xs text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, quas.</p>


                            </div>
                    

                    </div>
                    <div class="items-center ml-5">      <p class="text-sm font-semibold text-gray-500"> a few moments ago</p></div>
              


                </div>
                <div class="p-4 border-b border-second-900">
                    <div class="flex items-center">
                            <div class="w-10 h-10 rounded-full mr-2">
                                <img src="assets/img/users/3.png" class="rounded-full">
                            </div>
                            <div>
                                <p class="text-sm font-semibold">Kate Jack</p>
                                <p class="text-xs text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, quas.</p>


                            </div>
                    

                    </div>
                    <div class="items-center ml-5">      <p class="text-sm font-semibold text-gray-500"> a few moments ago</p></div>
              


                </div>
                <div class="p-4 text-center">
                    <a href="" class="text-primary-800 hover:underline"> All Message</a> 
                  </div>
            

              </div>

           </div>

               <!-------------User Menu END-->

             





       </div>

        <!-------------User Inbox End-->


<!-------------User Profile Start-->
         <div  class="flex justify-end p-4">

           
             <div class="relative">
            <!-------------User Menu-->
            <button (click)="toggleProfileMenu()" class="text-white" id="user-menu-button"> 
                <img src="assets/img/profile.jpg" class="w-9 h-9 ml-2 rounded-full" />

            </button>

              <!-------------User Menu END-->


               <!-------------User Menu -->
               <div  [ngClass]="{'hidden': !isProfileMenuOpen}" class="absolute right-0  mt-8 w-56 bg-white border border-primary-600 rounded-lg hidden shadow-xl" id="user-menu">
                <div class="px-4 py-2">
                    <p class="text-gray-600">Efe görkem Ümit</p>
                    <p class="text-gray-600">Youtube@gmail.com</p>


                </div>
                <ul>
                    <li class="hover:bg-second-900"><a href="#" class="block px-4 py-2 text-primary-700">Dashboard </a></li>
                    <li class="hover:bg-second-900"><a href="#" class="block px-4 py-2 text-primary-700">Settings </a></li>

                    <li class="hover:bg-second-900"><a  (click)="logout()" class="block px-4 py-2 text-primary-700 cursor-pointer">Sign-out </a></li>



                </ul>

               </div>

            </div>

                <!-------------User Menu END-->

              





        </div>

         <!-------------User Profile End-->

             <a href="https://www.youtube.com/@EfeGorkemUmit?sub_confirmation=1"  target="_blank" class="hidden sm:inline-flex ml-5 text-primary-900 bg-second-900
              hover:bg-second-800 focus:ring-4 font-medium px-5 py-3 rounded-xl items-center mr-3">
              <span class="mr-3">
                <i class="fa-brands fa-youtube"></i>
              </span> Efe Görkem Ümit</a>

        </div>

    </div>



  
    
    </div>
</nav>

    <!-------------NAV MENU END-->


<!-------------Mobile MENU Start-->
    <div class="lg:hidden flex fixed z-50 w-full border-t border-second-900 shadow-xl
 bg-primary-900 py-3 px-6 bottom-0 justify-around items-start">
 <a href="#" class="block relative text-center text-second-900" (click)="toggleMobileMenu()">
         <div class="text-3xl" #menuBar>
            <i class="fa-solid fa-bars"></i>
        </div>

 </a>

 <a href="#" class="block relative text-center text-second-900">
    <div class="text-3xl">
        <i class="fa-solid fa-magnifying-glass"></i>
   </div>

    </a>

</div>
<!-------------Mobile MENU End-->


<!-------------Mobile MENU Start-->

<div class="fixed left-0 top-0 w-full h-full z-50 bg-primary-900 bg-opacity-30 shadow hidden"  #mobileMenu>
    <div class="absolute left-0 top-0 w-72 h-full z-50 bg-primary-900 text-white shadow-md">
        <div class="text-gray-50 text-lg absolute right-3 top-3 cursor-pointer" (click)="closeMobileMenu()" #closeMenu>
            <i class="fa-solid fa-xmark"></i>
        </div>

     

        <div class="ml-2 mt-14">
            <ul class="space-y-2 pb-2 mt-6 relative">
                <li>
                    <a routerLink="" class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                        <i class="fa-solid fa-gauge"></i> 
                        <span class="ml-3">Dashboard</span>
                    </a>
                </li>
                <!------------- Dropdown Menu-->
                 <li>
                        <a (click)="toggleAuthenticationMenu()" href="javascript:void(0)" class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 toggle-menu">
                            <i class="fa-solid fa-lock"></i>
                            <span class="ml-4">Authentication</span>
                            <i class="fa-solid fa-chevron-down ml-auto"></i>
                        </a>

                
                        <ul [ngClass]="{'hidden': !authenticationMenuOpen}" class="ml-6 submenu hidden">
                            <li>
                                <a  routerLink="/auth/login"  class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                                    <span class="ml-3">Sign in</span>
                                </a>
                                <a routerLink="/auth/register"  class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                                    <span class="ml-3">Sign up</span>
                                </a>
                                <a routerLink="/auth/forget-password" class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                                    <span class="ml-3">Forgot Password</span>
                                </a>
                                <a routerLink="/auth/reset-password" class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                                    <span class="ml-3">Reset Password</span>
                                </a>

                                <a routerLink="/auth/profile-lock" class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                                    <span class="ml-3">Profile Lock</span>
                                </a>


            
                            </li>
                
                        </ul>
                 </li>
                  <!------------- Dropdown Menu End-->

                     <!------------- Dropdown Menu-->
                 <li>
                    <a (click)="toggleECommerce()" href="javascript:void(0)" class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 toggle-menu">
                        <i class="fa-solid fa-cart-plus"></i>
                        <span class="ml-3">E-Commerce</span>
                        <i class="fa-solid fa-chevron-down ml-auto"></i>
                    </a>

                    
                
                    <ul [ngClass]="{'hidden': !eCommerceMenuOpen}" class="ml-6 submenu hidden">
                        <li>
                            <a routerLink="/ecommerce/products" class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                                <span class="ml-3">Products</span>
                            </a>
                            <a  routerLink="/ecommerce/billing"  class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900  ">
                                <span class="ml-3">Billing</span>
                            </a>
                            <a routerLink="/ecommerce/invoice"  class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                                <span class="ml-3">Invoice</span>
                            </a>

                        </li>
            
                    </ul>
             </li>
              <!------------- Dropdown Menu End-->

                 <!------------- Dropdown Menu-->
                 <li>
                    <a (click)="toggleusers()" href="javascript:void(0)" class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 toggle-menu">
                        <i class="fa-solid fa-users"></i><span class="ml-4">Users</span>
                        <i class="fa-solid fa-chevron-down ml-auto"></i>
                    </a>

                    
                    
                    
                    
                    <ul [ngClass]="{'hidden': !usersOpen}" class="ml-6 submenu hidden">
                        <li>
                            <a routerLink="/users/userlist"  class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900">
                                <span class="ml-3">UserList</span>
                            </a>
                            <a routerLink="/users/profile" class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900">
                                <span class="ml-3">Profile</span>
                            </a>
                            <a routerLink="/users/settings"  class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900">
                                <span class="ml-3">Settings</span>
                            </a>

                        </li>
            
                    </ul>
             </li>
              <!------------- Dropdown Menu End-->
              <li>
                <a routerLink="/pages/error-404" class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                    <i class="fa-solid fa-bomb"></i>
                    <span class="ml-3">404</span>
                </a>
            </li>
            <li>
                <a  routerLink="/pages/error-500"  class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                    <i class="fa-solid fa-bug"></i>
                    <span class="ml-3">500 server</span>
                </a>
            </li>
            <li>
                <a  routerLink="/pages/mainteantance"  class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    <span class="ml-3">Maintenance</span>
                </a>
            </li>
            <li>
                <a  class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                    <i class="fa-regular fa-life-ring"></i>
                    <span class="ml-3">Help</span>
                </a>
            </li>
                  
            
            
            
            

            </ul>
        </div>
        



    </div>


    
</div>


