                    <div class="container  mx-auto lg:p-4 p-0">

                        <div class="bg-primary-900 text-white p-4 rounded-xl">

                            <nav class="text-base mb-1 rounded-xl p-0">
                                <ol class="list-none p-0 inline-flex">
                                    <li class="flex items-center">
                                        <a href="dashboard.html">          <i class="fa-solid fa-gauge"></i> 
                                           <span class="ml-1 mr-4">Dashboard</span> 
                                        </a>
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </li>

                                    <li class="flex items-center ml-4">
                                        <a href="#">         <i class="fa-solid fa-cart-plus"></i>
                                           <span class="ml-1 mr-4">E-Commerce</span> 
                                        </a>
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </li>

                                    <li class="flex items-center ml-4">
                                        <a href="#">       
                                           <span class="ml-1 mr-4">Products</span> 
                                        </a>
                                     
                                    </li>

                                </ol>




                            </nav>

                         



                        </div>

                     </div>
                     
                     <div class="container mx-auto lg:p-4 p-0">
                        <div class="bg-primary-900 text-white p-6 rounded-xl">

                            <div class="w-full grid grid-cols-6 lg:grid-cols-6 gap-4">
                              

                                <div class="lg:col-span-2 col-span-6 flex flex-col">
                                    <label class="text-lg">First Name</label>
                                    <input type="text" class="w-full p-2 rounded-lg">
                                </div>

                                <div class="lg:col-span-2 col-span-6 flex flex-col">
                                    <label class="text-lg">Last Name</label>
                                    <input type="text" class="w-full p-2 rounded-lg">
                                </div>

                                <div class="lg:col-span-2 col-span-6 flex flex-col">
                                    <label class="text-lg">Company Name</label>
                                    <input type="text" class="w-full p-2 rounded-lg">
                                </div>

                                <div class="lg:col-span-2 col-span-6 flex flex-col">
                                    <label class="text-lg">Role</label>
                                    <input type="text" class="w-full p-2 rounded-lg">
                                </div>

                                <div class="lg:col-span-2 col-span-6 flex flex-col">
                                    <label class="text-lg">Department</label>
                                    <input type="text" class="w-full p-2 rounded-lg">
                                </div>

                                <div class="lg:col-span-2 col-span-6 flex flex-col">
                                    <label class="text-lg">City</label>
                                    <input type="text" class="w-full p-2 rounded-lg">
                                </div>

                                <div class="lg:col-span-6 col-span-6 flex flex-col">
                                    <label class="text-lg">Info</label>
                                    <textarea  class="w-full p-2 rounded-lg" rows="5"></textarea>
                                </div>

                                <div class="lg:col-span-6 col-span-6 flex flex-col">
                                    <button type="submit" class="text-primary-900 font-semibold bg-second-900 p-2 rounded-xl hover:bg-second-700">
                                        Add Product
                                    </button>
                                </div>


                            </div>
                       
                       
                        </div>
                     </div>

<app-product-table></app-product-table>