



                    <div class="container  mx-auto lg:p-4 p-0">

                        <div class="bg-primary-900 text-white p-4 rounded-xl">

                            <nav class="text-base mb-1 rounded-xl p-0">
                                <ol class="list-none p-0 inline-flex">
                                    <li class="flex items-center">
                                        <a href="dashboard.html">          <i class="fa-solid fa-gauge"></i> 
                                           <span class="ml-1 mr-4">Dashboard</span> 
                                        </a>
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </li>

                                    <li class="flex items-center ml-4">
                                        <a href="#">         <i class="fa-solid fa-cart-plus"></i>
                                           <span class="ml-1 mr-4">E-Commerce</span> 
                                        </a>
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </li>

                                    <li class="flex items-center ml-4">
                                        <a href="#">       
                                           <span class="ml-1 mr-4">Invoice</span> 
                                        </a>
                                     
                                    </li>

                                </ol>




                            </nav>

                         



                        </div>

                     </div>
                     
                     
                     <div class="container  mx-auto lg:p-4 p-0">

                       <div class="bg-primary-900 text-white p-6">

                        <div class="text-center mb-5">
                            <h1>INVOICE #66666</h1>
                            <p>Youtube Efe Görkem Ümit</p>
                            <p>Turkey </p>
                            <p>30.09.2023</p>

                        </div>
                        <div class="mb-5">
                            <h2 class="font-semibold text-xl">BILL TO</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                            <p>Vat: Code: 6565656151</p>


                        </div>

                        <table class="w-full border-collapse border">

                            <thead>
                                <tr>
                                <th class="border py-2 px-2 text-left"> ITEM</th>
                                <th class="border py-2 px-2 text-left"> PRICE</th>
                                <th class="border py-2 px-2 text-left"> QTY</th>
                                <th class="border py-2 px-2 text-left"> OFF</th>
                                <th class="border py-2 px-2 text-left"> TOTAL</th>

                            </tr>
                            </thead>
                            <tbody>
                               <tr>
                                <td class="border py-2 px-2 text-left"> Pixel Design System</td>
                                <td class="border py-2 px-2 text-left"> $128.00</td>
                                <td class="border py-2 px-2 text-left"> 1</td>
                                <td class="border py-2 px-2 text-left"> 50%</td>
                                <td class="border py-2 px-2 text-left"> $74.00</td>


                                
                               </tr>

                               <tr>
                                <td class="border py-2 px-2 text-left"> Volt Dashboard Template</td>
                                <td class="border py-2 px-2 text-left"> $128.00</td>
                                <td class="border py-2 px-2 text-left"> 1</td>
                                <td class="border py-2 px-2 text-left"> 50%</td>
                                <td class="border py-2 px-2 text-left"> $74.00</td>


                                
                               </tr>

                               <tr>
                                <td class="border py-2 px-2 text-left"> Neumorphism UI</td>
                                <td class="border py-2 px-2 text-left"> $128.00</td>
                                <td class="border py-2 px-2 text-left"> 1</td>
                                <td class="border py-2 px-2 text-left"> 50%</td>
                                <td class="border py-2 px-2 text-left"> $74.00</td>


                                
                               </tr>

                               


                            </tbody>


                        </table>
                        <div class="mt-5">
                            <div class="flex justify-between">
                                <span class="text-xl font-semibold">SUBTOTAL</span>
                                <span>$450.00</span>
                            </div>
                            <div class="flex justify-between">
                                <span class="text-xl font-semibold">TAX RATE</span>
                                <span>%5</span>
                            </div>
                            <div class="flex justify-between">
                                <span class="text-xl font-semibold">DISCOUNT</span>
                                <span>$45.00</span>
                            </div>
                            <div class="flex justify-between">
                                <span class="text-xl font-semibold">TOTAL</span>
                                <span>$400.00</span>
                            </div>
                           



                        </div>

                        



                       </div>

                    </div>
     