  <!-------------Sidebar start-->
  <aside class="fixed hidden z-20 h-full top-0 left-0 pt-16 lg:flex flex-shrink-0 flex-col w-72">
    <div class="bg-primary-900 border-b border-primary-600 relative flex-1 flex flex-col pt-0">
        <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
            <div class="flex-1 px-3 bg-primary-900 divide-y space-y-2">
                <ul class="space-y-2 pb-2 mt-6 relative">
                    <li>
                        <a routerLink="" class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                            <i class="fa-solid fa-gauge"></i> 
                            <span class="ml-3">Dashboard</span>
                        </a>
                    </li>
                    <!------------- Dropdown Menu
                     <li>
                            <a (click)="toggleAuthenticationMenu()" href="javascript:void(0)" class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 toggle-menu">
                                <i class="fa-solid fa-lock"></i>
                                <span class="ml-4">Authentication</span>
                                <i class="fa-solid fa-chevron-down ml-auto"></i>
                            </a>

                    
                            <ul [ngClass]="{'hidden': !authenticationMenuOpen}" class="ml-6 submenu hidden">
                                <li>
                                    <a  routerLink="/auth/login"  class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                                        <span class="ml-3">Sign in</span>
                                    </a>
                                    <a routerLink="/auth/register"  class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                                        <span class="ml-3">Sign up</span>
                                    </a>
                                    <a routerLink="/auth/forget-password" class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                                        <span class="ml-3">Forgot Password</span>
                                    </a>
                                    <a routerLink="/auth/reset-password" class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                                        <span class="ml-3">Reset Password</span>
                                    </a>

                                    <a routerLink="/auth/profile-lock" class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                                        <span class="ml-3">Profile Lock</span>
                                    </a>


                
                                </li>
                    
                            </ul>
                     </li>
                   ----------- Dropdown Menu End-->

                         <!------------- Dropdown Menu-->
                     <li>
                        <a (click)="toggleECommerce()" href="javascript:void(0)" class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 toggle-menu">
                            <i class="fa-solid fa-cart-plus"></i>
                            <span class="ml-3">E-Commerce</span>
                            <i class="fa-solid fa-chevron-down ml-auto"></i>
                        </a>

                        
                    
                        <ul [ngClass]="{'hidden': !eCommerceMenuOpen}" class="ml-6 submenu hidden">
                            <li>
                                <a  routerLink="/ecommerce/categories"  class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900  ">
                                    <span class="ml-3">Categories</span>
                                </a>
                                <a routerLink="/product/list" class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                                    <span class="ml-3">Products</span>
                                </a>

                                <a routerLink="/cupon/list-cupon"  class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                                    <span class="ml-3">Cupon</span>
                                </a>

                                <a routerLink="/discount/list-discount"  class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                                    <span class="ml-3">Discount</span>
                                </a>
                                
                                
                               
                             

                            </li>
                
                        </ul>
                 </li>
                  <!------------- Dropdown Menu End-->

                     <!------------- Dropdown Menu-->
                     <li>
                        <a (click)="toggleusers()" href="javascript:void(0)" class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 toggle-menu">
                            <i class="fa-solid fa-users"></i><span class="ml-4">Users</span>
                            <i class="fa-solid fa-chevron-down ml-auto"></i>
                        </a>

                        
                        
                        
                        
                        <ul [ngClass]="{'hidden': !usersOpen}" class="ml-6 submenu hidden">
                            <li>
                                <a routerLink="/users/userlist"  class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900">
                                    <span class="ml-3">UserList</span>
                                </a>
                             

                            </li>
                
                        </ul>
                 </li>

                 <li>
                    <a routerLink="/slider/slider" class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                        <i class="fa-regular fa-life-ring"></i>
                        <span class="ml-3">Slider</span>
                    </a>
                </li>
                  <!------------- Dropdown Menu End
                  <li>
                    <a routerLink="/pages/error-404" class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                        <i class="fa-solid fa-bomb"></i>
                        <span class="ml-3">404</span>
                    </a>
                </li>
                <li>
                    <a  routerLink="/pages/error-500"  class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                        <i class="fa-solid fa-bug"></i>
                        <span class="ml-3">500 server</span>
                    </a>
                </li>
                <li>
                    <a  routerLink="/pages/mainteantance"  class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                        <span class="ml-3">Maintenance</span>
                    </a>
                </li>
                <li>
                    <a  class="text-white hover:bg-primary-800 font-poppins text-lg px-1 py-2 items-center flex rounded-lg font-normal  hover:text-second-900 ">
                        <i class="fa-regular fa-life-ring"></i>
                        <span class="ml-3">Help</span>
                    </a>
                </li>
                      
                -->
                
                
                

                </ul>

            </div>

        </div>
    </div>

</aside>
<!-------------Sidebar END-->

