<div class="container  mx-auto lg:p-4 p-0">

    <div class="bg-primary-900 text-white p-4 rounded-xl">

        <nav class="text-base mb-1 rounded-xl p-0">
            <ol class="list-none p-0 inline-flex">
                <li class="flex items-center">
                    <a href="dashboard.html">          <i class="fa-solid fa-gauge"></i> 
                       <span class="ml-1 mr-4">Dashboard</span> 
                    </a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>

                <li class="flex items-center ml-4">
                    <a href="#">         <i class="fa-solid fa-users"></i>
                       <span class="ml-1 mr-4">Users</span> 
                    </a>
                    <i class="fa-solid fa-chevron-right"></i>
                </li>

                <li class="flex items-center ml-4">
                    <a href="#">       
                       <span class="ml-1 mr-4">Settings</span> 
                    </a>
                 
                </li>

            </ol>




        </nav>

     



    </div>

 </div>
 
 <div class="container mx-auto lg:p-4 p-0">
    <div *ngIf="userDetails" class="grid grid-cols-1 sm:grid-cols-1 gap-4">


        <div class=" shadow-md">
          
            <div class="bg-primary-900 text-white mt-5 lg:mt-0 rounded-lg p-4">

                    <h1 class="text-3xl font-bold"> {{userDetails.name}}</h1>
                    <p class="text-xl"> {{userDetails.email}} </p>
                    <p class="mb-4 mt-6">

                        <span *ngIf="userDetails.is_admin==1; else notAdmin">  
                            <a class="px-2 py-2  bg-green-900 rounded-xl text-white"><i class="fa-solid fa-star"></i> Admin</a>
                                  </span>
                                  <ng-template #notAdmin>               
                           <a class="px-2 py-2  bg-white rounded-xl text-black"><i class="fa-solid fa-clipboard-user"></i> User</a>
                                  </ng-template>





                    </p>
                  
            </div>

    

        

        </div>






        <div class=" shadow-md">
        <div class="bg-primary-900 rounded-lg text-white lg p-4">
            <div class="w-full grid grid-cols-4 lg:grid-cols-4 gap-4">
          

                <div class="lg:col-span-4 col-span-4 flex flex-col">
                    <label class="text-lg">Name</label>
                    <input type="text" [(ngModel)]="userDetails.name" class="w-full p-2 rounded-lg text-black">
                </div>

                <div class="lg:col-span-4 col-span-4 flex flex-col">
                    <label class="text-lg">Email</label>
                    <input type="text" [(ngModel)]="userDetails.email"  class="w-full p-2 rounded-lg  text-black">
                </div>

                <div class="lg:col-span-4 col-span-4 flex flex-col">
                    <label class="text-lg">Is Admin</label>
                    <select [(ngModel)]="userDetails.is_admin" class="w-full p-2 rounded-lg  text-black"> 
                        <option value="1">Admin</option>
                        <option value="0">User</option>
                    </select>
                </div>
                
                

                <div class="lg:col-span-4 col-span-4 flex flex-col">
                    <button (click)="updateUserDetail()" type="submit" class="text-primary-900 font-semibold bg-second-900 p-2 rounded-xl hover:bg-second-700">
                        Save All
                    </button>
                </div>


            </div>
       




        </div>
      


       
    </div>

       


    </div>
</div>
